{% extends 'base.html' %}

{% block title %}
fedresurs app
{% endblock %}

{% block head %}
<p>
    <a id="form-request-tab">Сформировать запрос</a>
    <a id="submit-request-tab">Исполнить запрос</a>
</p>
<h2>Поиск в fedresurs.ru</h2>
{% endblock %}


{% block content %}
<div id="form-request" style="display: block">
    <h3>Формирование задания по поиску</h3>
    <h4>Укажите критерии поиска:</h4>
    <form>
        <label>Дата начала периода
            <input id="begin-input" type="date" required>
        </label>
        <label>Дата окончания периода
            <input id="end-input" type="date">
        </label>
        <br>
        <label>Тип участника сообщения
            <select id="participant-type-input">
                <option value="any">Любой</option>
                <option value="Company">Компания</option>
                <option value="IndividualEntrepreneur">Индивидуальный предприниматель</option>
                <option value="Person">Физическое лицо</option>
                <option value="NonResidentCompany">Компания - не резидент</option>
            </select>
        </label>
        <label>Идентификатор участника сообщения
            <input id="participant-id-input" type="number">
        </label>
        <br>
        <input id="form-request-button" type="button" title="Отправить" value="Отправить">
    </form>
    <p>Результат - номер задания поиска</p>
</div>

<div id="submit-request" style="display: none">
    <h3>Исполнение задания поиска</h3>
    <h4>Укажите номер задания поиска</h4>
    <form>
        <label>ID задания
            <input id="request-id-input">
        </label>
        <input id="submit-request-button" type="button" title="Отправить" value="Отправить">
    </form>
    <p>Результат - найденные записи, подходящие под критерии поиска</p>
</div>

<div id="results" style="display: block">
    <h3>Результат:</h3>
    {%if type == 'request_id'%}
        <li>{{ data }}</li>
    {%elif type == 'messages_data'%}
        {%for item in data%}
            <li>{{ item  }}</li>
            <li>{{ data[item] }}</li>
        {%endfor%}
    {%elif type =='empty_messages_data'%}
        <li>Нет сообщений, подходящих по критериям задания</li>
    {%endif%}
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}